<header class="navbar navbar-expand-lg navbar-light bg-white border-bottom px-3">
        <button class="btn btn-outline-secondary d-lg-none me-2" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#sidebarOffcanvas">
            <i class="bi bi-list"></i>
        </button>

        <a class="navbar-brand" asp-page="/Admin/Dashboard">
            <img src="~/images/logos/logo.png" height="30" class="me-2" />Admin
        </a>

        <div class="ms-auto">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="adminUserMenu" role="button"
                        data-bs-toggle="dropdown">
                        <i class="bi bi-person-circle"></i> @User.Identity.Name
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" asp-page="/Admin/Profile">Hồ sơ</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <form method="post" asp-page="/Logout">
                                <button type="submit" class="dropdown-item">Đăng xuất</button>
                            </form>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </header>